.hero {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-top: 4%;
  display: flex;
  align-items: center;
}
.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.swiper-slide {
  width: 85%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s;
  padding: 20px;
  box-sizing: border-box;
  padding: 10em;
  min-height: 50vh;
  min-width: 30vw;
}

.swiper-slide-active {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform-origin: center;
  z-index: 2;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.7;
  z-index: 1;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
}
.heroDescription {
  font-size: 1.1em;
  font-weight: bold;
}
.heroCharacteristics {
  font-size: 1.1em;
  text-align: left;
}
.moreInformation {
  display: grid;
  grid-template-columns: 290px 290px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.secondStyleDiv,
.leastStyleDiv {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.15em;
  margin: 0 auto;
}
.mbti1Div,
.mbti2Div {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.15em;
  margin: 0 auto;
  margin-top: 10%;
}

.secondStyleSubtitle,
.leastStyleSubtitle {
  font-size: 1.45em;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 20px;
}
.mbtiSubtitle1,
.mbtiSubtitle2 {
  font-size: 1.1rem;
  font-weight: bold;
}

/* 이미지 스타일 */
.heroImage {
  overflow: hidden;
}
.heroImg1,
.heroImg2,
.heroImg3 {
  max-width: 25%;
  max-height: 10%;
  margin: 0;
}

/* 버튼 */
.restartButton,
.shareButton {
  margin: 1%;
  padding: 2% 3%;
  font-size: 1.7rem;
  border: none;
  background-color: #20c997;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.restartButton:hover,
.shareButton:hover {
  background-color: #17a589;
  transform: translateY(-2px);
  color: black;
}
