.section {
  overflow:hidden;
  min-height:80vh;
  background-color: #ffffff;
  position: relative;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide {
  min-width:40vw;
  max-width:40vw;
  margin-left:auto;
  margin-right:auto;
  min-height: 70vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.2s;
  padding: 50px;
  box-sizing: border-box;
  opacity: 0.6; /* 기본 불투명도 적용 */
}

.swiper-slide-active {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform-origin: center;
  z-index: 2;
}

.swiper-slide-next,
.swiper-slide-prev {
  z-index: 1;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
}
.heroDescription {
  font-size: 1.1em;
  font-weight: bold;
}
.heroCharacteristics {
  display:flex;
  font-size: 1.1em;
  text-align: left;
}
ul{
  margin: 0 auto;
}
li{
  list-style-type:disc;
}
.moreInformation {
  display: grid;
  grid-template-columns: 290px 290px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.secondStyleDiv,
.leastStyleDiv {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.15em;
  margin: 0 auto;
}
.mbti1Div,
.mbti2Div {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.15em;
  margin: 0 auto;
  margin-top: 10%;
}

.secondStyleSubtitle,
.leastStyleSubtitle {
  font-size: 1.45em;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 20px;
}
.mbtiSubtitle1,
.mbtiSubtitle2 {
  font-size: 1.1rem;
  font-weight: bold;
}

/* 이미지 스타일 */
.heroImage {
  overflow: hidden;
}
.heroImg1,
.heroImg2,
.heroImg3 {
  max-width: 25%;
  max-height: 10%;
  margin: 0;
}

/* 버튼 */
.button{
  display:flex;
  justify-content:center;
  align-items: center;
}
.restartButton,
.shareButton {
  margin: 1%;
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  background-color: #20c997;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.restartButton:hover,
.shareButton:hover {
  background-color: #17a589;
  transform: translateY(-2px);
  color: black;
}
