 .leftSpace{
  background:powderblue;
  flex:1 0;
} 
.hero {
  background-color: #ffffff;
  border-radius: 10px;
  border-color: black;
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 4 0;
  min-height:40vw;
}
.heroBox {
  margin:5% 5% 5% 0%;
  width: 75%;
  height:80%;
  background-color: #ffffff;
  border-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}
.question {
  margin:3%;
  font-size: 150%;
  font-weight: bold;
}
.selectButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:10%;
}

.selectButton1,
.selectButton2 {
  width: 70%;
  padding: 3% 2%;
  margin: 3%;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #0d6475;
  color: white;
}
.selectButton1:hover,
.selectButton2:hover {
  background-color: #08404b;
  transform: translateY(-2px);
}
.toResultPageButton {
  width:50%;
  height:10%;

  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  background-color: #0d6475;
  transition: all 0.3s ease;
}
.toResultPageButton:hover {
  background-color: #08404b;
  transform: translateY(-2px);
}
#main-section {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}



.selected {
  background-color: #1ca2bd;
}
.progressUl{
  list-style-type: decimal;
  padding:0;
}
.progressUl li{
  margin-bottom:4%;
}
.progressUl li a {
  pointer-events: none; /* 기본적으로 클릭 막힘 */
  color: white;     
  text-decoration: none;
  cursor: default;
  transition: 0.3s ease;
  gap:5px;
}
.progressUl li.answered a {
  pointer-events: auto; /* 응답된 질문만 클릭 허용 */
  color: blue;
  font-weight:bold;
  cursor: pointer;
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
  transition: 0.2s ease;
}
.progressDiv {
  margin:2.5%;
  padding:2.5%;
  background-color: white; /* #1ca2bd */
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  border-radius:15px;
  flex: 1.5 0;
  height: 80vh;
  position: sticky;
  top: 7.5%;

}
.progressBarWrapper {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 25px;
  overflow: hidden;
  align-items: center; 
}
.progressBar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4caf50, #81c784);
  transition: width 1s ease;
}
.progressPercent {
  display:none;
  font-size: 14px;
  text-align: right;
  display: block;
  color: #333;
}
