.header {
  position: fixed;
  top: 0%;
}
.footer {
  position: fixed;
  top: 90%;
}

#main-section {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}
.hero {
  left: 12.5%;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: auto;
}
.swiper-container {
  width: 95%;
  position: relative;
  border-radius: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.swiper-slide {
  border-color: black;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.4;
  transform: scale(0.8);
  transition: opacity 0.4s, transform 0.4s;
}
.swiper-slide-active {
  opacity: 1;
  transform: scale(0.95);
  z-index: 2;
}
.swiper-slide:not(.swiper-slide-active) .selectButton1,
.swiper-slide:not(.swiper-slide-active) .selectButton2 {
  display: none; /* 활성화된 슬라이드만 버튼 보이기 */
}
.question {
  font-size: 110%;
  font-weight: bold;
}
.selectButtonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectButton1,
.selectButton2 {
  width: 60%;
  padding: 1.5%;
  margin: 1%;
  border: none;
  border-radius: 15px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #0d6475;
  color: white;
  position: relative;
}
.selectButton1:hover,
.selectButton2:hover {
  background-color: #08404b;
  transform: translateY(-2px);
}
.toResultPageButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #0d6475;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.toResultPageButton:hover {
  background-color: #08404b;
  transform: translateY(-2px);
}

.selected {
  background-color: #1ca2bd;
}
.progressUl {
  list-style-type: decimal;
  padding: 0;
}
.progressUl li {
  justify-content: center;
  font-size: 0.7rem;
  margin-bottom: 4%;
}
.progressUl li a {
  pointer-events: none; /* 기본적으로 클릭 막힘 */
  color: #03272f;
  text-decoration: none;
  cursor: default;
  transition: 0.3s ease;
  gap: 5px;
}
.progressUl li.answered a {
  pointer-events: auto; /* 응답된 질문만 클릭 허용 */
  color: #87d4e3;
  cursor: pointer;
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
  transition: 0.2s ease;
}
.progressDiv {
  overflow: hidden;
  padding: 2.5%;
  background-color: white; /* #1ca2bd */
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  border-radius: 15px;
  height: 50vh;
  position: fixed;
  top: 20%;
  left: 7.5%;
}
.progressBarWrapper {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
}
.progressBar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #b6e8f0, #48c5da);
  transition: width 1s ease;
}
.progressPercent {
  font-size: 14px;
  text-align: right;
  display: none;
  color: #333;
}
