.header {
  position: fixed;
  top: 0%;
}
.footer {
  position: fixed;
  top: 90%;
}

#main-section {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}
.hero {
  left: 12%;
  background-color: #ffffff;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.swiper-slide {
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  border-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  transform: scale(0.92);
  transition: opacity 0.3s, transform 0.3s;
}
.swiper-slide-active {
  opacity: 1;
  background: #f0f8ff;
  transform: scale(1.2);
  z-index: 2;
  box-shadow: 0 2px 12px rgba(0, 80, 255, 0.08);
}
.swiper-slide:not(.swiper-slide-active) .selectButton {
  display: none; /* 활성화된 슬라이드만 버튼 보이기 */
}
.question {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 5%;
}
.selectButtonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectButton1,
.selectButton2 {
  width: 60%;
  padding: 3% 2%;
  margin: 1%;
  border: none;
  border-radius: 15px;
  font-size: 110%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #0d6475;
  color: white;
  position: relative;
}
.selectButton1:hover,
.selectButton2:hover {
  background-color: #08404b;
  transform: translateY(-2px);
}
.toResultPageButton {
  width: 50%;
  height: 10%;

  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  background-color: #0d6475;
  transition: all 0.3s ease;
}
.toResultPageButton:hover {
  background-color: #08404b;
  transform: translateY(-2px);
}

.selected {
  background-color: #1ca2bd;
}
.progressUl {
  list-style-type: decimal;
  padding: 0;
}
.progressUl li {
  margin-bottom: 4%;
}
.progressUl li a {
  pointer-events: none; /* 기본적으로 클릭 막힘 */
  color: #03272f;
  text-decoration: none;
  cursor: default;
  transition: 0.3s ease;
  gap: 5px;
}
.progressUl li.answered a {
  pointer-events: auto; /* 응답된 질문만 클릭 허용 */
  color: #87d4e3;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
  transition: 0.2s ease;
}
.progressDiv {
  margin: 2.5%;
  padding: 2.5%;
  background-color: white; /* #1ca2bd */
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  border-radius: 15px;
  height: 40vh;
  position: fixed;
  top: 20%;
  left: 15%;
}
.progressBarWrapper {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
}
.progressBar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #87d4e3, #03272f);
  transition: width 1s ease;
}
.progressPercent {
  display: none;
  font-size: 14px;
  text-align: right;
  display: block;
  color: #333;
}
